div.module.wtf-module, div.module.trends, div.module.Footer, .new-tweets-bar {
  display: none;
}

/* LessNoise-specific classes, prefixed with "ln" */

.ln-highlighted {
  background: #FFFAB4;
}

.ln-invisible, .ln-filter-list-module {
  display: none;
}

.ln-remove-link {
  color: rgb(153, 153, 153);
}

.ln-remove-link:hover {
  color: rgb(0, 0, 255);
  text-decoration: none;
}

.ln-filter-rule-list {
  background: #fff;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 3px;
  max-height: 300px;
  overflow-y: auto;
  padding: 5px 0;
}

.ln-filter-rule-list-item {
  color: rgb(153, 153, 153);
  padding: 0 5px;
}

.ln-filter-rule-list-item:hover {
  color: rgb(51, 51, 51);
}

.ln-toggle-sidebar-link {
  text-align: center;
}

.ln-toggle-sidebar-link a {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
}

.ln-toggle-sidebar-link a:hover {
  color: rgb(0, 0, 255);
  text-decoration: none;
}
