div.module.wtf-module, div.module.trends, div.module.site-footer, .new-tweets-bar {
  display: none;
}

/* LessNoise-specific classes, prefixed with "ln" */

.ln-highlight {
  background: #FFFAB4;
}

.ln-invisible {
  display: none;
}
