div.module.wtf-module, div.module.trends, div.module.site-footer, .new-tweets-bar {
  display: none;
}

/* LessNoise-specific classes, prefixed with "ln" */

.ln-highlight {
  background: #FFFAB4;
}

.ln-invisible, .ln-filter-list-module {
  display: none;
}

.ln-remove-link {
  color: rgb(153, 153, 153);
}

.ln-remove-link:hover {
  color: rgb(0, 0, 255);
  text-decoration: none;
}

.ln-filter-rule-list {
  max-height: 300px;
  overflow-y: auto;
}

.ln-toggle-filter-rule-module-link {
  text-align: center;
}

.ln-toggle-filter-rule-module-link a {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
}

.ln-toggle-filter-rule-module-link a:hover {
  color: rgb(0, 0, 255);
}
